.container {
  margin-left: 8px;
  margin-right: 8px;
}
.contact-header {
    height: 50vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;
    .container {
        height: 100%;
        margin-left: 8px;
        margin-right: 8px;
        .contact-homebg {
          height: 100%;
    
          .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #10284e;
            .logo {
              
              img {
                width: 6rem;
              }
            }
            .contact-cont1 {
               // display: none;
          background: #10284e;
          z-index: 999999;
          position: fixed;
          width: 80vw;
          height: 100vh;
          top: 0;
          right: -80vw;
          transition: all .3s linear;
          h2{
            display: none;
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50%;
            padding-left: 2rem;
            list-style: none;
            li {
              a {
                color: #fff;
                font-size: 25px;
                text-decoration: none;
                padding: 7px 13px;
                border-radius: 3px;
                &::after {
                  content: "";
                  position: absolute;
                  background-color: #fff;
                  height: 2px;
                  width: 0%;
                  left: 0;
                  bottom: -10px;
                  transition: 0.3s;
                }
                &:hover {
                  color: #fff;

                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
            }
          }
          .rank {
            position: absolute;
            bottom: 6.13rem;
            color: #10284e;
            text-align: center;
            z-index: 99;
            h1 {
              b {
                font-size: 2.63rem;
              }
              span {
                font-size: 1.38rem;
              }
            }
          }
        }
      }
    .contact-fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15.5rem;
        background: linear-gradient(
          180deg,
          rgba(196, 196, 196, 0.03) 32.29%,
          #ffffff 95.83%
        );
      }
  }
  .fixed1{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 0 1rem;
    
  }
  @include responsive($xl) {
    .contact-header {
      height: 90vh;
      background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center center;
      position: relative;
    
      .container {
          height: 100%;

                .contact-homebg {
            height: 100%;
      
            .nav {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #10284e;
              .logo {
                margin-top: 8px;
                margin-left: 10px;
                img {
                  width: 10rem;
                }
              }
              .contact-cont1 {
                display: block;
                h2 {
                  font-size: 21px;
                }
                
                ul {
                  color: #10284e;
                  top: 0em;
                  li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    position: relative;
    
                    a {
                      color: #10284e;
                      font-size: 25px;
                      padding: 7px 13px;
                      border-radius: 3px;
                      text-decoration: none;
                      &::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        height: 2px;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        transition: 0.3s;
                      }
                      &:hover {
                        color: #fff;
    
                        &::after {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
              .menu {
                display: none;
              }
            }
            
            .rank {
              // position: absolute;
              bottom: 6.13rem;
              color:#10284e;
              text-align: center;
              z-index: 99;
              h1 {
                b {
                  font-size: 5rem;
                }
                span {
                  font-size: 2.38rem;
                }
              }
            }
  
          }
        }
      .contact-fade {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15.5rem;
          background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.03) 32.29%,
            #ffffff 95.83%
          );
        }
    } 
  }
  @include responsive($xl) {
    .contact-header {
      height: 90vh;
      background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center center;
      position: relative;
    
      .container {
          height: 100%;

                .contact-homebg {
            height: 100%;
      
            .nav {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #10284e;
              .logo {
                margin-top: 8px;
                margin-left: 10px;
                img {
                  width: 12rem;
                }
              }
              .contact-cont1 {
                display: block;
            background: transparent;
            z-index: 999999;
            position: static;
            width: auto;
            height: auto;
            top: 0;
            right: 0vw;
            transition: all .3s linear;
            .close-btn{
              display: none;
            }
            h2{
              font-size: 21px;
              display: block;
            }
            ul {
              color: #fff;
              flex-direction: row;
              top: 0em;
              li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                position: relative;

                a {
                  color: #fff;
                  font-size: 18px;
                  padding: 7px 13px;
                  border-radius: 3px;
                  text-decoration: none;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    height: 1px;
                    width: 0%;
                    left: 0;
                    bottom: -10px;
                    transition: 0.2s;
                  }
                  &:hover {
                    color: #fff;

                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
              }
              .menu {
                display: none;
              }
            }
            
            .rank {
              // position: absolute;
              bottom: 6.13rem;
              color:#10284e;
              text-align: center;
              z-index: 99;
              h1 {
                b {
                  font-size: 5rem;
                }
                span {
                  font-size: 2.38rem;
                }
              }
            }
  
          }
        }
      .contact-fade {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15.5rem;
          background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.03) 32.29%,
            #ffffff 95.83%
          );
        }
    } 




  }
  @include responsive($xxl) {
    .contact-header {
      height: 90vh;
      background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center center;
      position: relative;
    
      .container {
          height: 100%;

                .contact-homebg {
            height: 100%;
      
            .nav {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #10284e;
              .logo {
                margin-top: 8px;
                margin-left: 10px;
                img {
                  width: 12rem;
                }
              }
              .contact-cont1 {
                display: block;
                h2 {
                  font-size: 32px;
                }
                
                ul {
                  color: #10284e;
                  top: 0em;
                  li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    position: relative;
    
                    a {
                      color: #10284e;
                      font-size: 25px;
                      padding: 7px 13px;
                      border-radius: 3px;
                      text-decoration: none;
                      &::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        height: 2px;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        transition: 0.3s;
                      }
                      &:hover {
                        color: #fff;
    
                        &::after {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
              .menu {
                display: none;
              }
            }
            
            .rank {
              // position: absolute;
              bottom: 6.13rem;
              color:#10284e;
              text-align: center;
              z-index: 99;
              h1 {
                b {
                  font-size: 5rem;
                }
                span {
                  font-size: 2.38rem;
                }
              }
            }
  
          }
        }
      .contact-fade {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15.5rem;
          background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.03) 32.29%,
            #ffffff 95.83%
          );
        }
    } 




  }



