.container {
  margin-left: 8px;
  margin-right: 8px;
}
.contact-header {
    height: 50vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;
    .container {
        height: 100%;
        margin-left: 8px;
        margin-right: 8px;
        .contact-homebg {
          height: 100%;
    
          .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #10284e;
            .logo {
              
              img {
                width: 6rem;
              }
            }
            .contact-cont1 {
              display: none;
              ul {
                display: flex;
                li {
                  z-index: 999;
                  a {
                    color: #fff;
                  }
                }
              }
            }
          }
          .rank {
            position: absolute;
            bottom: 6.13rem;
            color: #10284e;
            text-align: center;
            z-index: 99;
            h1 {
              b {
                font-size: 2.63rem;
              }
              span {
                font-size: 1.38rem;
              }
            }
          }
        }
      }
    .contact-fade {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15.5rem;
        background: linear-gradient(
          180deg,
          rgba(196, 196, 196, 0.03) 32.29%,
          #ffffff 95.83%
        );
      }
  }
  @include responsive($xl) {
    .contact-header {
      height: 90vh;
      background: rgba(16, 40, 78, 0.4) url(../Image/contact.jpg) no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center center;
      position: relative;
    
      .container {
          height: 100%;

                .contact-homebg {
            height: 100%;
      
            .nav {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #10284e;
              .logo {
                margin-top: 8px;
                margin-left: 10px;
                img {
                  width: 12rem;
                }
              }
              .contact-cont1 {
                display: block;
                h2 {
                  font-size: 32px;
                }
                
                ul {
                  color: #10284e;
                  top: 0em;
                  li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    position: relative;
    
                    a {
                      color: #10284e;
                      font-size: 25px;
                      padding: 7px 13px;
                      border-radius: 3px;
                      text-decoration: none;
                      &::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        height: 2px;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        transition: 0.3s;
                      }
                      &:hover {
                        color: #fff;
    
                        &::after {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
              .menu {
                display: none;
              }
            }
            
            .rank {
              // position: absolute;
              bottom: 6.13rem;
              color:#10284e;
              text-align: center;
              z-index: 99;
              h1 {
                b {
                  font-size: 5rem;
                }
                span {
                  font-size: 2.38rem;
                }
              }
            }
  
          }
        }
      .contact-fade {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15.5rem;
          background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0.03) 32.29%,
            #ffffff 95.83%
          );
        }
    } 




  }


