.prac-header {
  height: 50vh;
  background: rgba(16, 40, 78, 0.4) url(../Image/prac.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center center;
  position: relative;
  z-index: 9999;
  .container {
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    .prac-homebg {
      height: 100%;

      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 99%;
       
        
        z-index: 999999;
        transition: all .3s linear;
        .logo {
          img {
            width: 6rem;
          }
        }
        .prac-cont1 {
        // display: none;
        background: #10284e;
        z-index: 999999;
        position: fixed;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: -80vw;
        transition: all .3s linear;
        h2{
          display: none;
        }
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 50%;
          padding-left: 2rem;
          list-style: none;
          li {
            a {
              color: #fff;
              font-size: 25px;
              text-decoration: none;
              padding: 7px 13px;
              border-radius: 3px;
              &::after {
                content: "";
                position: absolute;
                background-color: #fff;
                height: 2px;
                width: 0%;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
              }
              &:hover {
                color: #fff;

                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
        }
      }
      .rank {
        position: absolute;
        bottom: 6.13rem;
        color: #fff;
        text-align: center;
        h1 {
          b {
            font-size: 2.63rem;
          }
          span {
            font-size: 1.38rem;
          }
        }
      }
    }
  }
  .prac-fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15.5rem;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0.03) 32.29%,
      #ffffff 95.83%
    );
  }
  
}
.prac {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 28rem;
  .container {
    h1 {
      color: #10284e;
      font-size: 1.13rem;
    }
    hr {
      background: #10284e;
      height: 3px;
      border: none;
    }
  }
  .pra-des {
    margin-left: 5%;
    margin-right: 5%;
    .pra-img {
      margin-top: 1.5rem;
      display: flex;
      .pra-title {
        margin-top: 1.4rem;
        font-size: 18px;
        color: #10284e;
        margin-left: 2rem;
      }
    }
  }
}
@include responsive($md) {
  .prac-header {
    .container {
      height: 100%;
      .prac-homebg {
        height: 100%;
        .nav {
          .logo {
            img {
              width: 8rem;
            }
          }
        }
        .rank {
          h1 {
            b {
              font-size: 5.63rem;
            }
            span {
              font-size: 2.38rem;
            }
          }
        }
      }
    }
  }

  .prac {
    margin-top: 31rem;

    .container {
      h1 {
        color:#10284e;
        font-size: 30px;
      }

      .areas {
        margin-top: 1.5rem;
        .area-img {
          margin-top: 1.19rem;

          display: flex;
          img {
            width: 8rem;
          }
          .area-title {
            margin-top: 2rem;
            margin-left: 1.5rem;
            font-size: 25px;
          }
        }
        .area-des {
          margin-top: 1.3rem;
          font-size: 23px;
        }
      }
    }
  }
}

@include responsive($lg) {
  .prac-header {
    height: 50vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/prac.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;
    z-index: -1;
    .container {
      height: 100%;
      .prac-homebg {
        height: 100%;
        .nav {
          .logo {
            margin-left: 10px;
            img {
              width: 12rem;
            }
          }
          .prac-cont1 {
            display: none;
            ul {
              color: #fff;
              top: 0em;
              li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                position: relative;

                a {
                  color: #fff;
                  font-size: 25px;
                  padding: 7px 13px;
                  border-radius: 3px;
                  text-decoration: none;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    height: 2px;
                    width: 0%;
                    left: 0;
                    bottom: -10px;
                    transition: 0.3s;
                  }
                  &:hover {
                    color: #fff;

                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        
      }
      .rank {
        margin-left: 20px;
        h1 {
          b {
            font-size: 5.63rem;
          }
          span {
            font-size: 2.38rem;
          }
        }
      }
    }
    .prac-fade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15.5rem;
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.03) 32.29%,
        #ffffff 95.83%
      );
    }
  }
  .prac {
    margin-top: 20rem;
    .container {
      margin-left: 10px;
      margin-right: 10px;
      h1 {
        font-size: 48px;
        color: #10284e;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }
    .pra-des {
      margin-left: 5%;
      margin-right: 5%;
      .pra-img {
        margin-top: 5.5rem;
        display: flex;
        .pra-title {
          margin-top: 1.4rem;
          font-size: 28px;
          color: #10284e;
          margin-left: 2rem;
        }
      }
    }
    .par {
      font-size: 24px;
      .pra-step {
      }
    }
  }
}

@include responsive($xl) {
  .prac-header {
    height: 90vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/prac.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;
   z-index: 999;
    .container {
      height: 100%;
      .prac-homebg {
        height: 100%;
        .nav {
          .logo {
            margin-top: 8px;
            margin-left: 10px;
            img {
              width: 10rem;
            }
          }
          .prac-cont1 {
            display: block;
            background: transparent;
            z-index: 999999;
            position: static;
            width: auto;
            height: auto;
            top: 0;
            right: 0vw;
            transition: all .3s linear;
            .close-btn{
              display: none;
            }
            h2{
              font-size: 21px;
              display: block;
            }
            ul {
              color: #fff;
              flex-direction: row;
              top: 0em;
              li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                position: relative;

                a {
                  color: #fff;
                  font-size: 18px;
                  padding: 7px 13px;
                  border-radius: 3px;
                  text-decoration: none;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    height: 1px;
                    width: 0%;
                    left: 0;
                    bottom: -10px;
                    transition: 0.2s;
                  }
                  &:hover {
                    color: #fff;

                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .menu {
          display: none;
        }
      }
      .rank {
        margin-left: 20px;
        h1 {
          b {
            font-size: 5.63rem;
          }
          span {
            font-size: 2.38rem;
          }
        }
      }
    }
    .prac-fade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15.5rem;
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.03) 32.29%,
        #ffffff 95.83%
      );
    }
  }
  .prac {
    margin-top: 20rem;
    .container {
      margin-left: 10px;
      margin-right: 10px;
      h1 {
        font-size: 40px;
        color: #10284e;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }
    .pra-des {
      margin-left: 5%;
      margin-right: 5%;
      .pra-img {
        margin-top: 5.5rem;
        display: flex;
        img{
          width: 7rem;
        }
        .pra-title {
          margin-top: 1.4rem;
          font-size: 32px;
          color: #10284e;
          margin-left: 2rem;
        }
      }
    }
    .par {
      margin-top: 1.5rem;
      font-size: 21px;
      .pra-step {
        color: #10284e;

      }
    }
  }
}

@include responsive($xxl) {
  .prac-header {
    height: 90vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/prac.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;
   z-index: 999;
    .container {
      height: 100%;
      .prac-homebg {
        height: 100%;
        .nav {
          .logo {
            margin-top: 8px;
            margin-left: 10px;
            img {
              width: 12rem;
            }
          }
          .prac-cont1 {
            display: block;
            ul {
              color: #fff;
              top: 0em;
              li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                position: relative;

                a {
                  color: #fff;
                  font-size: 25px;
                  padding: 7px 13px;
                  border-radius: 3px;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    height: 2px;
                    width: 0%;
                    left: 0;
                    bottom: -10px;
                    transition: 0.3s;
                  }
                  &:hover {
                    color: #fff;

                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .menu {
          display: none;
        }
      }
      .rank {
        margin-left: 20px;
        h1 {
          b {
            font-size: 5.63rem;
          }
          span {
            font-size: 2.38rem;
          }
        }
      }
    }
    .prac-fade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15.5rem;
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.03) 32.29%,
        #ffffff 95.83%
      );
    }
  }
  .prac {
    margin-top: 20rem;
    .container {
      margin-left: 10px;
      margin-right: 10px;
      h1 {
        font-size: 48px;
        color: #10284e;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }
    .pra-des {
      margin-left: 5%;
      margin-right: 5%;
      .pra-img {
        margin-top: 5.5rem;
        display: flex;
        img{
          width: 7rem;
        }
        .pra-title {
          margin-top: 1.4rem;
          font-size: 32px;
          color: #10284e;
          margin-left: 2rem;
        }
      }
    }
    .par {
      font-size: 32px;
      .pra-step {
        color: #10284e;

      }
    }
  }
}