.team-header {
  height: 50vh;
  background: rgba(16, 40, 78, 0.4) url(../Image/ourteam.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center center;
  position: relative;

  .container {
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;

    .team-homebg {
      height: 100%;

      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        .logo {
          img {
            width: 6rem;
          }
        }
        .team-cont1 {
          display: none;
          ul {
            display: flex;
            li {
              a {
                color: #fff;
              }
            }
          }
        }
      }
      .rank {
        position: absolute;
        bottom: 5.13rem;
        color: #fff;
        text-align: center;
        h1 {
          b {
            font-size: 2.63rem;
          }
          span {
            font-size: 1.38rem;
          }
        }
      }
    }
  }
  .team-fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15.5rem;
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0.03) 32.29%,
      #ffffff 95.83%
    );
  }
}

.team-cont {
  margin-top: 1.63rem;
  .container {
    margin-left: 8px;
    margin-right: 8px;
    h1 {
      font-size: 1.13rem;
      color: #10284e;
    }
    hr {
      background: #10284e;
      height: 3px;
      border: none;
    }
  }
  .team-container {
    margin-top: 50px;
    width: 100%;
    img {
      border-radius: 50%;
    }
  }
  .team-container .team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .team-container .team .member {
    width: 625px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
  }

  .team-container .team .member img {
    width: 150px;
  }

  .team-container .team .member h3 {
    font-size: 20px;
    color: #10284e;
  }

  .team-container .team .member span {
    font-size: 22px;
    color: #10284e;
  }

  .team-container .team .member p {
    margin: 15px 0;
    font-weight: 300;
    color: #10284e;
    font-size: 18px;
    text-align: center;
  }
}
.pract-cont {
  margin-top: 1.63rem;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  .container {
    h1 {
      font-size: 1.13rem;
      color: #10284e;
    }
    hr {
      background: #10284e;
      height: 3px;
      border: none;
    }
  }

  .pra-left {
    margin-top: 2rem;
    .pra-list {
      display: flex;
      margin-top: 1rem;
      .pra-img {
        img {
          width: 5rem;
        }
      }
      .pra-des {
        font-size: 14px;
        margin-left: 1.5rem;
        text-align: left;
      }
    }
  }
}

@include responsive($md) {
  .pract-cont {
    margin-top: 1.63rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    .container {
      h1 {
        font-size: 1.13rem;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }

    .pra-left {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2rem;
      .pra-list {
        display: flex;
        margin-top: 1rem;
        .pra-img {
          img {
            width: 5rem;
          }
        }
        .pra-des {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}
@include responsive($lg) {
  .team-header {
    height: 90vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/ourteam.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;

    .container {
      height: 100%;
      .team-homebg {
        height: 100%;
        .nav {
          .logo {
            margin-right: 10px;
            img {
              width: 8rem;
            }
          }
          .team-cont1 {
            display: block;
            ul {
              display: flex;
              li {
                a {
                  color: #fff;
                }
              }
            }
          }
          .menu {
            display: none;
          }
        }
        .rank {
          margin-right: 100px;
          h1 {
            b {
              font-size: 5.63rem;
            }
            span {
              font-size: 2.38rem;
            }
          }
        }
      }
    }
    .team-fade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15.5rem;
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.03) 32.29%,
        #ffffff 95.83%
      );
    }
  }
  .team-cont {
    margin-top: 1.63rem;
    .container {
      margin-left: 8px;
      margin-right: 8px;
      h1 {
        font-size: 2.13rem;
        color: #10284e;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }
    .team-container {
      margin-top: 50px;
      width: 100%;
      img {
        border-radius: 50%;
      }
    }
    .team-container .team {
      width: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
  
    .team-container .team .member {
      width: 625px;
      margin: 10px;
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      padding: 25px;
    }
  
    .team-container .team .member img {
      width: 180px;
    }
  
    .team-container .team .member h3 {
      font-size: 25px;
      color: #10284e;
    }
  
    .team-container .team .member span {
      font-size: 22px;
      color: #10284e;
    }
  
    .team-container .team .member p {
      margin: 15px 0;
      font-weight: 300;
      color: #003dc9;
      font-size: 20px;
      text-align: center;
    }
  }
  .pract-cont {
    margin-top: 1.63rem;

    .container {
      h1 {
        font-size: 36px;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }

    .pra-left {
        margin-left: 2.9rem;
        margin-right: 2.9rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2rem;
      .pra-list {
        display: flex;
        margin-top: 1rem;
        width: 45.44rem;
        .pra-img {
          img {
            width: 5rem;
          }
        }
        .pra-des {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}
@include responsive($xl) {
  .team-header {
    height: 90vh;
    background: rgba(16, 40, 78, 0.4) url(../Image/ourteam.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    position: relative;

    .container {
      height: 100%;
      .team-homebg {
        height: 100%;
        .nav {
          .logo {
            margin-top: 8px;
            margin-left: 10px;
            img {
              width: 12rem;
            }
          }
          .team-cont1 {
            display: block;
            h2 {
              font-size: 32px;
            }
            
            ul {
              color: #fff;
              top: 0em;
              li {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                position: relative;

                a {
                  color: #fff;
                  font-size: 25px;
                  padding: 7px 13px;
                  border-radius: 3px;
                  text-decoration: none;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #10284e;
                    height: 2px;
                    width: 0%;
                    left: 0;
                    bottom: -5px;
                    transition: 0.3s;
                  }
                  &:hover {
                    color: #10284e;

                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          .menu {
            display: none;
          }
        }
        .rank {
          margin-right: 100px;
          z-index: 99;
          h1 {
            b {
              font-size: 5.63rem;
            }
            span {
              font-size: 2.38rem;
            }
          }
        }
      }
    }
    .team-fade {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15.5rem;
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0.03) 32.29%,
        #ffffff 95.83%
      );
    }
  }
  .team-cont {
    margin-top: 1.63rem;
    .container {
      margin-left: 8px;
      margin-right: 8px;
      h1 {
        font-size: 40px;
        color: #10284e;
      }
      hr {
        background: #10284e;
        height: 3px;
        border: none;
      }
    }
    .team-container {
      margin-top: 50px;
      width: 100%;
      img {
        border-radius: 50%;
      }
    }
    .team-container .team {
      width: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
  
    .team-container .team .member {
      width: 625px;
      margin: 10px;
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      padding: 25px;
    }
  
    .team-container .team .member img {
      width: 180px;
    }
  
    .team-container .team .member h3 {
      font-size: 28px;
      color: #10284e;
    }
  
    .team-container .team .member span {
      font-size: 24px;
      color: #10284e;
    }
  
    .team-container .team .member p {
      margin: 15px 0;
      font-weight: 300;
      color: #10284e;
      font-size: 24px;
      text-align: center;
    }
  }
  .pract-cont {
    margin-top: 1.63rem;

    .container {
      h1 {
        font-size: 40px;
      }
      hr {
        background: #10284e;
        height: 4px;
        border: none;
      }
    }

    .pra-left {
        margin-left: 6.9rem;
        margin-right: 6.9rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2rem;
      .pra-list {
        display: flex;
        margin-top: 3rem;
        width: 40.44rem;
        height: 350px;
        padding: 2rem;
        transition: all 0.3s linear;
        &:hover{
          background: #10284e;
          border-radius: 4rem;
          color:white;
          
        }
        .pra-img {
          img {
            width: 7rem;
          }
        }
        .pra-des {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
}

