@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "whyyeshiwas";
@import "practice";
@import "pra";
@import "team";
@import "contact";


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
}

.container{
  width: 100%-10%;
  margin: 0 auto;
}
// .cont1 nav {
//   height: 40%;
//   width: 100%;
//   position: relative;
// }

a {
  position: relative;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  color: #10284e;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 15px;
}
.container {
  nav {
    width: 100%;
    position: relative;
    .homebg {
      height: 30%;
      width: 100%;
      position: relative;
      .imagebg {
        width: 100%;
        height: 100%;
      }
      .header {
        width: 100%;
        top: 0em;
        color: #003dc9;
        position: absolute;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(
          180deg,
          #ffffff 6.29%,
          rgba(255, 255, 255, 0) 90.67%
        );

        .cont1 {
          color: #003dc9;
          margin-top: 10px;

          h1 {
            .ic1 {
              font-size: 20px;
              width: 5%;
              height: 5%;
              position: relative;
            }
          }
          ul {
            color: #003dc9;
            top: 0em;
            li {
              display: inline-block;
              line-height: 80px;
              margin: 0 5px;
              position: relative;

              a {
                color: #10284e;
                font-size: 25px;
                padding: 7px 13px;
                border-radius: 3px;
                &::after {
                  content: "";
                  position: absolute;
                  background-color: #10284e;
                  height: 2px;
                  width: 0%;
                  left: 0;
                  bottom: -10px;
                  transition: 0.3s;
                }
                &:hover {
                  color: #10284e;

                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .logo {
        width: 35%;
        height: 35%;
        margin-left: 20px;
        margin-top: 10px;

        img {
          width: 35%;
          height: 35%;
        }
      }
      .rank {
        color: #fff;
        position: absolute;
        bottom: 230px;
        right: 0;
        font-size: 45px;
        margin-left: 20px;
        margin-right: 20px;

        .cont2 {
          background-color: #35c6da;
          text-align: center;
          margin-bottom: 10px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
      .fade {
        position: absolute;
        bottom: 0.3%;
        right: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(
          0deg,
          #ffffff 24.5%,
          rgba(214, 223, 255, 0.4) 212.95%
        );
      }
    }
    .clearfix {
      height: 400px;
      width: 100%;
      .but-next {
        .ico-back {
          margin-right: 50px;
        }
        .ico-next {
        }
      }
      .slider {
        height: 100%;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .slider__nav {
        width: 12px;
        height: 12px;
        margin: 2rem 12px;
        border-radius: 50%;
        z-index: 10;
        outline: 6px solid #ccc;
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #10284e, 0 0 0 0 rgba(51, 51, 51, 0);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
        animation: check 0.4s linear forwards;
      }
      .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
      }
      .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
      }
      .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
      }
      .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
        left: -300%;
      }
      .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
      }
      .slider__contents {
        height: 100%;
        padding: 2rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .slider__image {
        font-size: 2.7rem;
        color: #2196f3;
      }
      .slider__caption {
        font-weight: 500;
        margin: 2rem 0 1rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
      }
      .slider__txt {
        color: #999;
        margin-bottom: 3rem;
        max-width: 300px;
      }

      @-webkit-keyframes check {
        50% {
          outline-color: #10284e;
          box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
        100% {
          outline-color: #10284e;
          box-shadow: 0 0 0 0 #10284e, 0 0 0 0 rgba(51, 51, 51, 0);
        }
      }

      @keyframes check {
        50% {
          outline-color: #10284e;
          box-shadow: 0 0 0 12px #10284e, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
        100% {
          outline-color: #10284e;
          box-shadow: 0 0 0 0 #10284e, 0 0 0 0 rgba(51, 51, 51, 0);
        }
      }
    }
  }
  .cont3 {
    margin-top: 10px;

    h1 {
      color: #10284e;
      margin-top: 5%;
      text-align: center;
      font-size: 60px;
      hr {
        border: 0;
        height: 3px;
        background: #10284e;
        background-image: linear-gradient(to right, #ccc, #10284e, #ccc);
      }
    }
    .cont4 {
      img {
        margin-top: 10px;
        height: 30%;
        width: 100%;
      }
    }

    .cont5 {
      margin-left: 50px;
      margin-right: 50px;
      img {
        display: block;
      }
      .desc {
        display: flex;
        margin-top: 10px;
        .img-eff {
        }
        .cont5-1 {
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 40px;
          margin-top: 30px;
          font-size: 20px;
          font-style: unset;
        }
      }
    }
  }
  .mid1 {
    position: relative;
    img {
      top: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .title {
      color: #10284e;
      text-align: center;
      font-size: 60px;
      margin-top: 10px;

      .line {
        border: 0;
        height: 3px;
        background: #10284e;
        background-image: linear-gradient(to right, #ccc, #10284e, #ccc);
      }
    }
    p {
      margin-top: 20px;
      font-size: 50px;
      margin-left: 100px;
      margin-right: 100px;
      position: absolute;
    }
    .but2 {
      position: absolute;
      button {
        border: none;
        color: #d6dfff;
        background-color: #10284e;
        font-family: inherit;
        font-size: 20px;
        padding: 0;
        cursor: pointer;
        padding: 0.25em 0.75em;
        min-width: 10ch;
        min-height: 44px;

        border-radius: 1px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
        @media screen and (-ms-high-contrast: active) {
          border: 2px solid currentcolor;
        }
      }
    }

    .box2 {
      position: absolute;
      display: flex;
      gap: 2px;
      .top-box {
        background-color: #35c6da;
        border: 2px solid #35c6da;
        border-radius: 15px 0 0 0;
        font-size: 30px;
      }
      .box2-1 {
        width: 33.33%;
        background-color: #d6dfff;
        border-radius: 15px 0 0 0;
      }
    }

    .area-list {
      .area-img {
        padding: 0%;
      }
      .area-des {
        padding: 0;
      }
    }
  }
  .mid3 {
    .title {
      color: #10284e;
      text-align: center;
      font-size: 60px;
      margin-top: 50px;

      .line {
        border: 0;
        height: 3px;
        background: #10284e;
        background-image: linear-gradient(to right, #ccc, #10284e, #ccc);
      }
    }
  }

  .mid-left {
    display: flex;
    .area-list {
      margin-top: 20px;
      width: 50%;

      margin-left: 50px;
      display: flex;
      flex-direction: column;
      .area-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .area-des {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .team-container {
    margin-top: 50px;
    width: 100%;
    img {
      border-radius: 50%;
    }
  }
  .team-container .team {
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .team-container .team .member {
    width: 625px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 25px;
  }

  .team-container .team .member img {
    width: 180px;
  }

  .team-container .team .member h3 {
    font-size: 25px;
    color: #10284e;
  }

  .team-container .team .member span {
    font-size: 22px;
    color: #10284e;
  }

  .team-container .team .member p {
    margin: 15px 0;
    font-weight: 300;
    color: #003dc9;
    font-size: 20px;
    text-align: center;
  }
  .img-pos {
    display: flex;
    width: 100%;

    margin-left: 180px;

    .img-over {
      position: relative;
      width: 40%;
      height: 50%;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

      .img-li {
        width: 100%;
        height: 400px;

        border-radius: 0.7rem;
        top: 0;
      }
      .img-des {
        position: absolute;
        display: grid;
        place-items: center;
        right: 0;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        top: 60%;
        bottom: 15%;
        color: #10284e;
        background-color: rgba(214, 223, 255, 0.7);
        margin-top: 10px;
        margin-left: 20px;
      }
    }
  }

  .cont-team {
    display: flex;
    margin-right: 60px;
    margin-left: 60px;
    .team-img {
      margin-top: 10px;
      border-radius: 1em;
    }
    .team-des {
      color: #a0a0a0;
      margin-top: 40px;
      font-size: 20px;
      text-align: center;
      display: grid;
      place-items: center;
    }
  }
  .faq {
    position: relative;
    height: 60vh;

    .faq-bg {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .accordion {
      left: 25%;
      position: absolute;
      width: 90%;
      max-width: 1000px;
      margin: 1rem auto;
    }
    .accordion-item {
      background-color: #fff;
      color: #10284e;
      margin: 1.7rem 0;
      border-radius: 0.5rem;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
    .accordion-item-header {
      padding: 0.5rem 3rem 0.5rem 1rem;
      min-height: 4.5rem;
      line-height: 1.25rem;
      font-weight: bold;
      display: flex;
      font-size: 25px;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    .accordion-item-header::after {
      content: "\002B";
      font-size: 2rem;
      position: absolute;
      right: 1rem;
    }
    .accordion-item-header.active::after {
      content: "\2212";
    }
    .accordion-item-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    .accordion-item-body-content {
      padding: 1rem;
      line-height: 1.5rem;
      font-family: sans-serif;
      border-top: 1px solid;
      font-size: 16px;
      border-image: linear-gradient(to right, transparent, #34495e, transparent)
        1;
    }

    @media (max-width: 767px) {
      html {
        font-size: 14px;
      }
    }
  }
  .rec {
    margin-top: 20px;
    display: flex;
    img {
      margin-top: 200px;
      margin-left: 250px;
      margin-right: 30px;
      width: 500px;
    }
  }

  .cont-container {
    max-width: 1170px;
    box-sizing: border-box;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .brand {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .brand span {
    color: #ffffff;
  }

  .wrapper {
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.3);
    .wrapper > * {
      padding: 1em;
    }
  }
  .company-info {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .company-info h3,
  .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .contact {
    background: #d6dfff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  h3 {
    color: #10284e;
    font-size: 20px;
  }

  .contact form {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .contact form label {
    display: block;
  }

  .contact form p {
    margin: 0;
  }

  .contact form .full {
    grid-column: 1 / 3;
  }

  .contact form button,
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 1em;
    border: solid 1px #10284e;
    border-radius: 4px;
  }

  .contact form textarea {
    resize: none;
  }

  .contact form button {
    background: #10284e;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .contact form button:hover,
  .contact form button:focus {
    background: #10284e;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;
  }

  @media only screen and (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
      padding: 2em;
    }

    .company-info {
      border-radius: 4px 4px 4px 4px;
    }

    .contact {
      border-radius: 0 4px 4px 0;
    }

    .company-info h3,
    .company-info ul,
    .brand {
      text-align: left;
    }
  }

  .footer {
    position: relative;
    display: flex;
    .fo-bg {
      position: absolute;
      width: 100%;
    }
    .fo-logo {
     color: #fff;
     font-size: 23px;
      margin-top: 300px;
      margin-left: 100px;
      position: absolute;
    }
    .fo-des {
      width: 20%;
      position: absolute;
      margin-top: 250px;
      margin-left: 750px;
      color: #fff;
      font-size: 23px;
    }
    .fo-links {
      width: 20%;
      position: absolute;
      display: block;
      margin-top: 250px;
      margin-left: 1400px;
      color: #fff;
      font-size: 23px;
    }
  }
}
